body > .ui.container {
    padding-top: 3em;
}

.ui.container h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}

.ui.container h2.header {
    font-size: 1.8em;
    font-weight: normal;
}

.ui.container h4.divider {
    font-weight: normal;
    margin-top: 1em;
}

.ui.header .icon:only-child {
    display: inline-block;
    padding: 0em;
    margin-right: 0 !important;
}

@font-face {
    font-family: 'Icons';
    src: url("../Fonts/icons.eot");
    src: url("../Fonts/icons.eot?#iefix") format('embedded-opentype'), url("../Fonts/icons.woff") format('woff'), url("../Fonts/icons.ttf") format('truetype'), url("../Fonts/icons.svg#icons") format('svg');
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

.ui.radio label {
    cursor: pointer !important;
}