body > .ui.container {
    margin-top: 3em;
}

.ui.container > h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}

.ui.container > h2.header {
    font-size: 1.8em;
    font-weight: normal;
    /*margin: 4em 0em 3em;*/
}

.ui.container > h4.divider {
    font-weight: normal;
}

@font-face {
    font-family: 'Icons';
    src: url("../Fonts/icons.eot");
    src: url("../Fonts/icons.eot?#iefix") format('embedded-opentype'), url("../Fonts/icons.woff") format('woff'), url("../Fonts/icons.ttf") format('truetype'), url("../Fonts/icons.svg#icons") format('svg');
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}