@{
    ViewBag.Title = "Голосование";
}

<h1>Голосование</h1>

<h4 class="ui horizontal divider header">
    <i class="info icon"></i>
    Представьтесь, пожалуйста
</h4>
<div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label class="large text">Ваше имя</label>
        </div>
        <div class="six wide column">
            <div class="ui fluid input">
                <input type="text">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label class="large text">Возраст</label>
        </div>
        <div class="three wide column">
            <div class="ui fluid input">
                <input type="text">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label class="large text">Пол</label>
        </div>
        <div class="three wide column">
            <div class="ui fluid input">
                <input type="text">
            </div>
        </div>
    </div>
</div>
<h4 class="ui horizontal divider header">
    <i class="help icon"></i>
    Вопрос
</h4>
<h2 class="ui header">
    @*<span class="ui grey circular massive label">?</span>*@
    Какой язык программирования Вы рекомендуете в качестве первого языка для начинающих?
</h2>