@{
    ViewBag.Title = "Голосование";
}

<h1>Голосование</h1>

<h4 class="ui horizontal divider header">
    <i class="info icon"></i>
    Представьтесь, пожалуйста
</h4>
<div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label for="username">Имя</label>
        </div>
        <div class="six wide column">
            <div class="ui fluid input">
                <input id="username" type="text">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label for="gender">Пол</label>
        </div>
        <div class="three wide column">
            <select id="gender" class="ui fluid dropdown">
                <option value=""></option>
                <option value="1">Мужской</option>
                <option value="0">Женский</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label for="age">Возраст</label>
        </div>
        <div class="two wide column">
            <div class="ui fluid input">
                <input id="age" type="number" min="10" max="110">
            </div>
        </div>
    </div>
</div>
<h4 class="ui horizontal divider header">
    <i class="help icon"></i>
    Вопрос
</h4>

<div class="ui form">
    <div class="grouped fields">
        <label>Какой язык программирования Вы рекомендуете в качестве первого языка для начинающих?</label>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2" checked="checked">
                <label>С++</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Java</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>C#</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Python</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Php</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Go</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="example2">
                <label>Другой</label>
            </div>
        </div>
    </div>
</div>
<div class="ui center aligned basic segment">
    <button class="ui teal centered large button">Отправить</button>
</div>