@{
    ViewBag.Title = "Голосование";
}

<h1>Голосование</h1>

<div class="ui grid">
    <div class="row">
        <div class="sixteen wide column">
            <h4 class="ui horizontal divider header">
                <i class="info icon"></i>
                Представьтесь, пожалуйста
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label for="username">Имя</label>
        </div>
        <div class="six wide column">
            <div class="ui fluid input">
                <input id="username" type="text">
            </div>
        </div>
    </div>

    <div class="row" data-bind="with: User">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label for="gender">Пол</label>
        </div>
        <div class="three wide column">
            <select id="gender" class="ui fluid dropdown" data-bind="value: GenderId, options: Genders, optionsText: 'GenderName', optionsValue: 'GenderId', optionsCaption: ''"></select>
        </div>
    </div>

    <div class="row">
        <div class="two wide column"></div>
        <div class="four wide column">
            <label for="age">Возраст</label>
        </div>
        <div class="two wide column">
            <div class="ui fluid input">
                <input id="age" type="number" min="18" max="80">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="sixteen wide column">
            <h4 class="ui horizontal divider header">
                <i class="help icon"></i>
                Вопрос
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui form" data-bind="foreach: Questions">
                <div class="grouped fields">
                    <label data-bind="text: QuestionText"></label>
                    <!-- ko foreach: Answers -->
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" data-bind="value: AnswerId, checked: $parent.SelectedAnswerId, attr: { name: 'question' + $parent.QuestionId(), id: 'answer' + AnswerId }">
                            <label data-bind="text: AnswerText, attr: { for: 'answer' + AnswerId }"></label>
                        </div>
                    </div>
                    <!-- /ko -->                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui center aligned basic segment">
    <button class="ui teal centered large button" data-bind="click: SaveVote">Отправить</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")

    <script>
        var viewModel = new MainViewModel();
        $(function () {
            viewModel.GetVote();

            ko.applyBindings(viewModel);
        });

        function MainViewModel() {
            var self = this;
            self.User = ko.observable();
            self.Questions = ko.observableArray([]);

            self.GetVote = function () {
                $.ajax({
                    url: '/api/voting',
                    type: 'GET',
                    success: function (response) {
                        self.User(new UserViewModel(response.User));

                        if (response.Questions && response.Questions.length > 0) {
                            for (var i = 0; i < response.Questions.length; i++) {
                                self.Questions.push(new QuestionViewModel(response.Questions[i]));
                            }
                        }

                        $('.ui.dropdown').dropdown({ on: 'hover' });
                    },
                    error: function (error) {
                        // noty.js
                    }
                });
            };

            self.SaveVote = function () {
                var postData = ko.toJSON(self);

                $.ajax({
                    method: 'POST',
                    url: '/api/voting',
                    data: postData,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () { },
                    error: function (response) { },
                    success: function (response) { }
                });
            };
        };

        function UserViewModel(userViewModel) {
            if (!userViewModel) {
                userViewModel = {};
            }

            var self = this;
            self.UserId = ko.observable(userViewModel.UserId || 0);
            self.Username = ko.observable(userViewModel.Username || 0);
            self.Age = ko.observable(userViewModel.Age || 0);
            self.GenderId = ko.observable(userViewModel.GenderId || 0);
            self.Genders = ko.observableArray(userViewModel.Genders || []);
        }

        function QuestionViewModel(questionViewModel) {
            if (!questionViewModel) {
                questionViewModel = {};
            }

            var self = this;
            self.QuestionId = ko.observable(questionViewModel.QuestionId || 0);
            self.QuestionText = ko.observable(questionViewModel.QuestionText || 0);
            self.SelectedAnswerId = ko.observable(questionViewModel.SelectedAnswerId || 0);
            self.Answers = ko.observableArray(questionViewModel.Answers || []);
        }
    </script>
}