@{
    ViewBag.Title = "Голосование";
}

<h1>Голосование</h1>

<!-- ko if: !IsDataLoaded() -->
<div class="ui active inverted dimmer">
    <div class="ui big text loader">Загрузка</div>
</div>
<!-- /ko -->

<div id="form" data-bind="visible: IsDataLoaded" style="display: none;">
    <div class="ui grid">
        <!-- ko with: User -->
        <div class="row">
            <div class="sixteen wide column">
                <h4 class="ui horizontal divider header">
                    <i class="info icon"></i>
                    Представьтесь, пожалуйста
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="two wide column"></div>
            <div class="four wide middle aligned column">
                <label for="username">Имя</label>
            </div>
            <div class="six wide column ui form">
                <div class="ui fluid field input">
                    <input id="username" name="User.Username" data-validation="username" type="text" data-bind="value: Username">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="two wide column"></div>
            <div class="four wide middle aligned column">
                <label for="gender">Пол</label>
            </div>
            <div class="three wide column">
                <select id="gender" class="ui fluid field dropdown" name="User.GenderId" data-validation="gender" data-bind="value: GenderId, options: Genders, optionsText: 'GenderName', optionsValue: 'GenderId', optionsCaption: ''"></select>
            </div>
        </div>

        <div class="row">
            <div class="two wide column"></div>
            <div class="four wide middle aligned column">
                <label for="age">Возраст</label>
            </div>
            <div class="two wide column">
                <div class="ui fluid field input">
                    <input id="age" type="number" min="18" max="80" name="User.Age" data-validation="age" data-bind="value: Age">
                </div>
            </div>
        </div>

        <div id="clientErrors" class="row" style="display: none;">
            <div class="two wide column"></div>
            <div class="twelve wide column">
                <div class="ui client error message"></div>
            </div>
        </div>

        <div id="serverErrors" class="row" style="display: none;">
            <div class="two wide column"></div>
            <div class="twelve wide column">
                <div class="ui error message">
                    <ul class="list" data-bind="foreach: $root.ValidationErrors">
                        <li data-bind="text: $data"></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko foreach: Questions -->
        <div class="row">
            <div class="sixteen wide column">
                <h4 class="ui horizontal divider header">
                    <i class="help icon"></i>
                    Вопрос <!--ko text: $root.Questions().length > 1 ? '#' + ($index() + 1) : '' --><!--/ko-->
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="two wide column"></div>
            <div class="twelve wide column">
                <div class="ui form">
                    <div class="grouped fields">
                        <label data-bind="text: QuestionText"></label>
                        <!-- ko foreach: Answers -->
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" data-bind="value: AnswerId, checked: $parent.SelectedAnswerId, attr: { name: 'question' + $parent.QuestionId(), id: 'answer' + AnswerId }">
                                <label data-bind="text: AnswerText, attr: { for: 'answer' + AnswerId }"></label>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="ui center aligned basic segment">
        <button class="ui teal centered large submit button" data-bind="enable: !InSaveProcess(), click: SaveVote">Отправить</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/voting")

    <script>
        var viewModel = new VotingViewModel();
        $(function () {
            viewModel.GetVote();

            ko.applyBindings(viewModel);
        });
    </script>
}